<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= label_tag :departamento %><br>
    <%= select_tag :departamento, options_from_collection_for_select(Departamento.all,
                                                                    :id, :nombre) %>
  </div>

  <div class="field">
    <%= f.label :ciudad_id %><br>
    <%= f.select :ciudad_id, options_from_collection_for_select(Ciudad.all,
                                                                :id, :nombre,
                                                                @cliente.ciudad_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
