<%= form_for(@ciudad) do |f| %>
  <% if @ciudad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ciudad.errors.count, "error") %> prohibited this ciudad from being saved:</h2>

      <ul>
      <% @ciudad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :cod_dane %><br>
    <%= f.text_field :cod_dane %>
  </div>
  <div class="field">
    <%= f.label :departamento_id %><br>
    <%= f.select :departamento_id, options_from_collection_for_select(Departamento.all,
                                                                        :id, :nombre,
                                                                          @ciudad.departamento_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
