<!DOCTYPE html>
<html>
<head>
  <title>VisionamosMiniCoffe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Empresa', empresas_path %>
<%= link_to 'Ciudades', ciudades_path %>
<%= link_to 'Departamentos', departamentos_path %>
<%= link_to 'Clientes', clientes_path %>

<% flash.each do |key, val|%>
    <p><%= val %></p>
<% end %>
<br/>
<% if @current_user %>
  <%= @current_user.nombre %> -
  <%= link_to 'Salir', sesion_path(1), method: :delete %>
<% else %>
  <%= link_to 'Ingresar', new_sesion_path %>
<% end %>

<%# @current_user.try(:nombre) %>

<%= yield %>

</body>
</html>
